Soloveyko_AV/Client/Service References/DataAccessService/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities.DbModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities.DbModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deal" nillable="true" type="tns:Deal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeal" nillable="true" type="tns:ArrayOfDeal" />
  <xs:complexType name="Deal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Buyer_UserID" type="xs:int" />
      <xs:element minOccurs="0" name="DateOfDeal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DealID" type="xs:int" />
      <xs:element minOccurs="0" name="KindOfCalculatingID" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectOfTransaction" nillable="true" type="tns:ObjectOfTransaction" />
      <xs:element minOccurs="0" name="ObjectOfTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="PersonalNumberOfDeal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Seller" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Seller_UserID" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deal" nillable="true" type="tns:Deal" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deals" nillable="true" type="tns:ArrayOfDeal" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectOfTransactions" nillable="true" type="tns:ArrayOfObjectOfTransaction" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfObjectOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectOfTransaction" nillable="true" type="tns:ObjectOfTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectOfTransaction" nillable="true" type="tns:ArrayOfObjectOfTransaction" />
  <xs:complexType name="ObjectOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KindOfCalculatingID" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectOfTransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectStateID" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectOfTransaction" nillable="true" type="tns:ObjectOfTransaction" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
</xs:schema>